@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 240 10% 20%;
    --card: 240 60% 99%;
    --card-foreground: 240 10% 20%;
    --popover: 240 60% 99%;
    --popover-foreground: 240 10% 20%;
    --primary: 275 100% 25%;
    --primary-foreground: 240 67% 94%;
    --secondary: 240 20% 90%;
    --secondary-foreground: 240 10% 20%;
    --muted: 240 20% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 276 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 85%;
    --input: 240 20% 88%;
    --ring: 276 100% 50%;
    --chart-1: 275 100% 25%;
    --chart-2: 276 100% 50%;
    --chart-3: 275 80% 60%;
    --chart-4: 240 67% 94%;
    --chart-5: 240 20% 90%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 5% 10%;
    --foreground: 240 5% 95%;
    --card: 240 5% 12%;
    --card-foreground: 240 5% 95%;
    --popover: 240 5% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 275 80% 60%;
    --primary-foreground: 275 100% 25%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 276 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 276 100% 60%;
    --chart-1: 275 80% 60%;
    --chart-2: 276 100% 60%;
    --chart-3: 275 100% 25%;
    --chart-4: 240 5% 10%;
    --chart-5: 240 5% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
